<style type="text/css">
    #warpedText2 {
        position: relative;
        display: block;
        width: 588px;
        height: 440px;
    }

    #warpedText2 > span[class^=w]:nth-of-type(n + 0) {
        display: block;
        position: absolute;
        -moz-transform-origin: 50% 100%;
        -webkit-transform-origin: 50% 100%;
        -o-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }

    #warpedText2 span {
        font-family: Gabriola;
        font-size: 50px;
        font-weight: regular;
        font-style: normal;
        line-height: 0.65;
        white-space: pre;
        overflow: visible;
        padding: 0px;
    }

    #warpedText2 .w0 {
        -moz-transform: rotate(-6.5rad);
        -webkit-transform: rotate(-6.5rad);
        -o-transform: rotate(-6.5rad);
        -ms-transform: rotate(-6.5rad);
        transform: rotate(-6.5rad);
        width: 15px;
        height: 24px;
        left: 33.21px;
        top: 209.84px;
    }

    #warpedText2 .w1 {
        -moz-transform: rotate(-6.46rad);
        -webkit-transform: rotate(-6.46rad);
        -o-transform: rotate(-6.46rad);
        -ms-transform: rotate(-6.46rad);
        transform: rotate(-6.46rad);
        width: 13px;
        height: 24px;
        left: 47.81px;
        top: 207.23px;
    }

    #warpedText2 .w2 {
        -moz-transform: rotate(-6.42rad);
        -webkit-transform: rotate(-6.42rad);
        -o-transform: rotate(-6.42rad);
        -ms-transform: rotate(-6.42rad);
        transform: rotate(-6.42rad);
        width: 14px;
        height: 24px;
        left: 60.77px;
        top: 205.21px;
    }

    #warpedText2 .w3 {
        -moz-transform: rotate(-6.38rad);
        -webkit-transform: rotate(-6.38rad);
        -o-transform: rotate(-6.38rad);
        -ms-transform: rotate(-6.38rad);
        transform: rotate(-6.38rad);
        width: 14px;
        height: 24px;
        left: 74.13px;
        top: 203.74px;
    }

    #warpedText2 .w4 {
        -moz-transform: rotate(-6.33rad);
        -webkit-transform: rotate(-6.33rad);
        -o-transform: rotate(-6.33rad);
        -ms-transform: rotate(-6.33rad);
        transform: rotate(-6.33rad);
        width: 21px;
        height: 24px;
        left: 88.15px;
        top: 202.56px;
    }

    #warpedText2 .w5 {
        -moz-transform: rotate(-6.3rad);
        -webkit-transform: rotate(-6.3rad);
        -o-transform: rotate(-6.3rad);
        -ms-transform: rotate(-6.3rad);
        transform: rotate(-6.3rad);
        width: 13px;
        height: 24px;
        left: 108.96px;
        top: 202.13px;
    }

    #warpedText2 .w6 {
        -moz-transform: rotate(-6.27rad);
        -webkit-transform: rotate(-6.27rad);
        -o-transform: rotate(-6.27rad);
        -ms-transform: rotate(-6.27rad);
        transform: rotate(-6.27rad);
        width: 14px;
        height: 24px;
        left: 122.53px;
        top: 202.22px;
    }

    #warpedText2 .w7 {
        -moz-transform: rotate(-6.24rad);
        -webkit-transform: rotate(-6.24rad);
        -o-transform: rotate(-6.24rad);
        -ms-transform: rotate(-6.24rad);
        transform: rotate(-6.24rad);
        width: 16px;
        height: 24px;
        left: 136.41px;
        top: 202.7px;
    }

    #warpedText2 .w8 {
        -moz-transform: rotate(-6.23rad);
        -webkit-transform: rotate(-6.23rad);
        -o-transform: rotate(-6.23rad);
        -ms-transform: rotate(-6.23rad);
        transform: rotate(-6.23rad);
        width: 16px;
        height: 24px;
        left: 152.18px;
        top: 203.55px;
    }

    #warpedText2 .w9 {
        -moz-transform: rotate(-6.21rad);
        -webkit-transform: rotate(-6.21rad);
        -o-transform: rotate(-6.21rad);
        -ms-transform: rotate(-6.21rad);
        transform: rotate(-6.21rad);
        width: 16px;
        height: 24px;
        left: 168.18px;
        top: 204.67px;
    }

    #warpedText2 .w10 {
        -moz-transform: rotate(-6.2rad);
        -webkit-transform: rotate(-6.2rad);
        -o-transform: rotate(-6.2rad);
        -ms-transform: rotate(-6.2rad);
        transform: rotate(-6.2rad);
        width: 15px;
        height: 24px;
        left: 184.24px;
        top: 205.93px;
    }

    #warpedText2 .w11 {
        -moz-transform: rotate(-6.2rad);
        -webkit-transform: rotate(-6.2rad);
        -o-transform: rotate(-6.2rad);
        -ms-transform: rotate(-6.2rad);
        transform: rotate(-6.2rad);
        width: 14px;
        height: 24px;
        left: 199.1px;
        top: 207.16px;
    }

    #warpedText2 .w12 {
        -moz-transform: rotate(-6.2rad);
        -webkit-transform: rotate(-6.2rad);
        -o-transform: rotate(-6.2rad);
        -ms-transform: rotate(-6.2rad);
        transform: rotate(-6.2rad);
        width: 14px;
        height: 24px;
        left: 213px;
        top: 208.37px;
    }
</style>
<div id="warpedText2">
    <span class="w0">ч</span>
    <span class="w1">у</span>
    <span class="w2">д</span>
    <span class="w3">о</span>
    <span class="w4">т</span>
    <span class="w5">в</span>
    <span class="w6">о</span>
    <span class="w7">р</span>
    <span class="w8">н</span>
    <span class="w9">и</span>
    <span class="w10">ч</span>
    <span class="w11">к</span>
    <span class="w12">а</span>
</div>
