<style type='text/css'>
    #warped {
        position: relative;
        display: block;
        width: 726px;
        height: 558px;
    }

    #warped > span[class^=w]:nth-of-type(n+0) {
        display: block;
        position: absolute;
        -moz-transform-origin: 50% 100%;
        -webkit-transform-origin: 50% 100%;
        -o-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }

    #warped span {
        font-family: Gabriola;
        font-size: 80px;
        font-weight: normal;
        font-style: normal;
        line-height: 0.65;
        white-space: pre;
        overflow: visible;
        padding: 0px;
    }

    #warped .w0 {
        -moz-transform: rotate(-5.93rad);
        -webkit-transform: rotate(-5.93rad);
        -o-transform: rotate(-5.93rad);
        -ms-transform: rotate(-5.93rad);
        transform: rotate(-5.93rad);
        width: 32px;
        height: 44px;
        left: 16.74px;
        top: 132.28px;
    }

    #warped .w1 {
        -moz-transform: rotate(-6.14rad);
        -webkit-transform: rotate(-6.14rad);
        -o-transform: rotate(-6.14rad);
        -ms-transform: rotate(-6.14rad);
        transform: rotate(-6.14rad);
        width: 21px;
        height: 44px;
        left: 56.17px;
        top: 140.43px;
    }

    #warped .w2 {
        -moz-transform: rotate(-6.25rad);
        -webkit-transform: rotate(-6.25rad);
        -o-transform: rotate(-6.25rad);
        -ms-transform: rotate(-6.25rad);
        transform: rotate(-6.25rad);
        width: 33px;
        height: 44px;
        left: 86.42px;
        top: 143.56px;
    }

    #warped .w3 {
        -moz-transform: rotate(-6.33rad);
        -webkit-transform: rotate(-6.33rad);
        -o-transform: rotate(-6.33rad);
        -ms-transform: rotate(-6.33rad);
        transform: rotate(-6.33rad);
        width: 29px;
        height: 44px;
        left: 128.98px;
        top: 143.4px;
    }

    #warped .w4 {
        -moz-transform: rotate(-6.38rad);
        -webkit-transform: rotate(-6.38rad);
        -o-transform: rotate(-6.38rad);
        -ms-transform: rotate(-6.38rad);
        transform: rotate(-6.38rad);
        width: 24px;
        height: 44px;
        left: 165.84px;
        top: 141.15px;
    }

    #warped .w5 {
        -moz-transform: rotate(-6.42rad);
        -webkit-transform: rotate(-6.42rad);
        -o-transform: rotate(-6.42rad);
        -ms-transform: rotate(-6.42rad);
        transform: rotate(-6.42rad);
        width: 24px;
        height: 44px;
        left: 199.13px;
        top: 137.48px;
    }

    #warped .w6 {
        -moz-transform: rotate(-6.45rad);
        -webkit-transform: rotate(-6.45rad);
        -o-transform: rotate(-6.45rad);
        -ms-transform: rotate(-6.45rad);
        transform: rotate(-6.45rad);
        width: 24px;
        height: 44px;
        left: 232.11px;
        top: 132.57px;
    }
</style>
<div id='warped'>
    <span class='w0'>У</span><span class='w1'>с</span><span class='w2'>м</span><span class='w3'>и</span><span class='w4'>в</span><span class='w5'>к</span><span class='w6'>а</span>
</div>
